<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>
    <h1>
        <%= school.title %>
    </h1>
    <h2>
        <%= school.location %>
    </h2>
    <footer>
        <form action="/schools/<%=school._id%>?_method=Delete" method="POST">
            <button>Delete</button>
        </form>
        <p>
            <a href="/schools">All Schools</a>
        </p>
        <p>
            <a href="/schools/<%=school._id%>/edit">Edit School</a>
        </p>
    </footer>
</body>

</html>