:root {
    --jet-black: #2d3142ff;
    --silver: #bfc0c0ff;
    --white: #ffffffff;
    --coral-glow: #ef8354ff;
    --blue-slate: #4f5d75ff;

    /* Bootstrap overrides */
    --bs-body-bg: var(--white);
    --bs-body-color: var(--jet-black);

    --bs-primary: var(--coral-glow);
    --bs-secondary: var(--blue-slate);
    --bs-success: var(--blue-slate);
    --bs-warning: var(--coral-glow);

    --bs-link-color: var(--coral-glow);
    --bs-link-hover-color: #d96f3f;
}

body {
    background-color: var(--white);
    color: var(--jet-black);
    font-family: "SN Pro", sans-serif;
}

.navbar {
    background-color: var(--blue-slate);
}

.fa-school {
    color: var(--white);
    width: 50px;
    height: 50px;
}

.btn-primary {
    --bs-btn-bg: var(--coral-glow);
    --bs-btn-border-color: var(--coral-glow);
    --bs-btn-color: var(--white);

    --bs-btn-hover-bg: #d96f3f;
    --bs-btn-hover-border-color: #d96f3f;

    --bs-btn-active-bg: #bf5f35;
    --bs-btn-active-border-color: #bf5f35;
}

.btn-secondary {
    background-color: var(--blue-slate);
    border-color: var(--blue-slate);
    color: var(--white);
}

.btn-secondary:hover {
    background-color: #445066;
    border-color: #445066;
}

.btn-secondary:active {
    background-color: #3a4458;
    border-color: #3a4458;
}

.btn-outline-primary {
    color: var(--coral-glow);
    border-color: var(--coral-glow);
}

.btn-outline-primary:hover {
    background-color: var(--coral-glow);
    color: var(--white);
}

.btn-outline-secondary {
    color: var(--blue-slate);
    border-color: var(--blue-slate);
}

.btn-outline-secondary:hover {
    background-color: var(--blue-slate);
    color: var(--white);
}

a {
    color: var(--coral-glow);
    transition: 0.2s ease;
}

a:hover {
    color: #d96f3f;
}